n8n/workflows/Workflow con el refactor.json
{
  "name": "Workflow con el refactor",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://doc-restoration-api:8000/files/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        464
      ],
      "id": "295c33f7-caaa-4099-a4ed-bf2b19f0588f",
      "name": "Analyze Document Only"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Only clean documents can generate synthetic training data\",\n  \"classification\": \"={{$('Analyze Document Only').item.json.body.document_type}}\",\n  \"uploaded_to\": \"={{$('Upload to Degraded Bucket').item.json.body.bucket}}\"\n}",
        "options": {}
      },
      "id": "730f2dd5-e7e8-4884-beed-7595b71f2644",
      "name": "Response - Error (Degraded)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        848,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.document_type }}",
              "value2": "documento_limpio"
            }
          ]
        }
      },
      "id": "348192a5-7dbf-4145-8f06-28ff0ea7499a",
      "name": "Check if Clean Document",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -96,
        496
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "f93465f1-e4b3-48cd-b48e-0f09874d59df",
      "name": "Merge Original Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        112,
        624
      ]
    },
    {
      "parameters": {
        "content": "## Flujo Corregido\n\n✅ **Pasos:**\n\n1. **Analyze Only** - Solo analiza, no sube\n2. **Check Classification** - Determina si es limpio\n3. **Upload to Correct Bucket** - Sube al bucket correcto\n4. **Generate Training Pairs** - Solo si es limpio, usa bucket clean fijo\n5. **Monitor Progress** - Espera completar generación\n6. **Success Response** - Retorna resultados\n\n🔧 **Cambios:**\n- Analyze no sube automáticamente\n- Generate siempre usa 'document-clean'\n- Genera 10 pares (20 archivos) de 1 imagen",
        "height": 200,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        224
      ],
      "typeVersion": 1,
      "id": "f9c45644-6891-48f9-a2cd-3e6afe9e13a7",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a969238-cf34-497c-95c8-d247c004dffc",
              "leftValue": "={{ $json.body.document_type }}",
              "rightValue": "documento_limpio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        624
      ],
      "id": "50dad35f-d666-4fbd-b52c-6202b54de31c",
      "name": "Route Based on Classification"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://doc-restoration-api:8000/synthetic/training-pairs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clean_bucket",
              "value": "document-clean"
            },
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "65b4200d-2101-408e-9605-9609f1535bcb",
      "name": "Generate Training Pairs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        848,
        608
      ]
    },
    {
      "parameters": {
        "url": "=http://doc-restoration-api:8000/jobs/{{ $json.job_id }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "ca159eed-511c-49d3-b636-e3100e86a717",
      "name": "Check Generation Status1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1232,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "929c09be-e1a5-4b18-9c0a-fb8f51d68b0d",
      "name": "Check Completion1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1456,
        512
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "416bb839-e27b-42d4-94c1-5ddbb898a77a",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1232,
        656
      ],
      "webhookId": "21ac7ea6-2897-47bf-8cce-e32c54127ac1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Synthetic data generation completed\",\n  \"classification\": \"={{$('Analyze Document Only').item.json.body.document_type}}\",\n  \"uploaded_to\": \"={{$('Upload to Clean Bucket').item.json.body.bucket}}\",\n  \"generated_pairs\": \"={{$json.total_files_created}}\",\n  \"target_bucket\": \"document-training\"\n}",
        "options": {}
      },
      "id": "21afcf66-3a3a-4834-a3b8-fb38ce8484ad",
      "name": "Response - Success1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        432
      ]
    },
    {
      "parameters": {
        "url": "http://doc-restoration-api:8000/synthetic/stats/document-training",
        "options": {}
      },
      "id": "5bc753f5-d370-4b77-8130-61084b691fec",
      "name": "Update Dataset Stats1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1456,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://doc-restoration-api:8000/files/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "bucket",
              "value": "document-clean"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "5fb16c1d-3402-4dd4-a87b-7e88242b87a2",
      "name": "Upload to Clean Bucket1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://doc-restoration-api:8000/files/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "bucket",
              "value": "document-degraded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "559314f2-1905-4f6c-9bf6-574c9735b0e5",
      "name": "Upload to Degraded Bucket1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        752
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-generation",
        "responseMode": "responseNode",
        "options": {
          "binaryData": false,
          "rawBody": true
        }
      },
      "id": "c68c5d3c-9fe7-4ba9-9776-ccbd51dd5651",
      "name": "Webhook - Data Upload1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -592,
        656
      ],
      "webhookId": "data-generation"
    }
  ],
  "pinData": {},
  "connections": {
    "Analyze Document Only": {
      "main": [
        [
          {
            "node": "Check if Clean Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Clean Document": {
      "main": [
        [
          {
            "node": "Merge Original Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Original Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Original Data": {
      "main": [
        [
          {
            "node": "Route Based on Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Based on Classification": {
      "main": [
        [
          {
            "node": "Upload to Clean Bucket1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Degraded Bucket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Training Pairs1": {
      "main": [
        []
      ]
    },
    "Check Generation Status1": {
      "main": [
        [
          {
            "node": "Check Completion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion1": {
      "main": [
        [
          {
            "node": "Update Dataset Stats1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check Generation Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Dataset Stats1": {
      "main": [
        [
          {
            "node": "Response - Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Clean Bucket1": {
      "main": [
        [
          {
            "node": "Generate Training Pairs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Degraded Bucket1": {
      "main": [
        [
          {
            "node": "Response - Error (Degraded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Data Upload1": {
      "main": [
        [
          {
            "node": "Analyze Document Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Original Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01aef662-6337-45b7-98de-763a24d5c6c5",
  "meta": {
    "instanceId": "ef78f03495115ef8b7058f8c957950be9554e5b6e925be0dea911cfff9261c59"
  },
  "id": "VjThaZbAfRK3E8zI",
  "tags": []
}